body {
  background: black;
  font-family: 'Orbitron', sans-serif;
  color: white;
  margin: 20px;
  width: 95%;
}

.header {
  background-color: #C0C0C0;
  color: purple;
  text-align: center;
  padding: 15px;
  border-bottom: 5px solid purple;
  border-top: 5px solid purple ;
}
.container {
  width: 60%;
  background-color: #C0C0C0;
  color: purple;
  border: 5px solid purple;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}
.col-md-12 {
  padding: 5px;
  margin: auto;
}
.populate {
  background-color: purple;
  color: white;
  width: 50%;
  margin: auto;
}
h1 {
  font-size: 40px;
  font-weight: bold;
}
h3 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;

}
.info {
  font-size: 24px;
}



/*body color/fonts*/

.title-psychicGame {
	font-weight: 100px;
	text-align: center;
	font-family: 'Orbitron', sans-serif;

}




.title-text{
	text-align:center;
	font-weight: 575;
	font-size: 30px;
	font-family: 'Orbitron', sans-serif;
	font-color: #ffffff;

}

.scorecolor {
	color: #330080;
}
.premade {
	color: rgb(51, 0, 128);
	font-weight: 600;
	font-family: 'Orbitron', sans-serif;
}


/*side panel*/
.paneltitle {
  margin-left: 30%;
  text-align: center;

}
