body {
    background-image: url(../images/2-WordGuess.jpg);
    background-repeat: no-repeat;
    background-size: 900px 300px;
    background-position: right top;
    /* background-color: #cccccc; */
    /* font-style: white; */

   }
